var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$('#Comments').prepend(new_comment);
$('#Comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();